{
  "openapi": "3.0.0",
  "info": {
    "title": "SevenRooms Reservations API",
    "description": "The SevenRooms Reservations API is a RESTful API over HTTPS that utilizes JSON as the data response format. It allows application developers to query for data and perform actions, such as booking a reservation or looking up client data.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "termsOfService": "https://sevenrooms.com/en/terms-of-service",
    "contact": {
      "name": "Sevenrooms support",
      "email": "support@sevenrooms.com"
    },
    "license": {
      "name": "SevenRooms License"
    },
    "version": "2.4"
  },
  "servers": [
    {
      "url": "https://demo.sevenrooms.com/api-ext/2_4",
      "description": "Demo"
    },
    {
      "url": "https://api.sevenrooms.com/2_4",
      "description": "US Production"
    },
    {
      "url": "https://api.eu.sevenrooms.com/2_4",
      "description": "EU Production"
    }
  ],
  "security": [
    {
      "ExternalAPIKeySecurity": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Auth Tags"
    },
    {
      "name": "Venues",
      "description": "Venue Tags"
    },
    {
      "name": "Availability",
      "description": "Availability Tags"
    },
    {
      "name": "Reservation Holds",
      "description": "Reservation Hold Tags"
    },
    {
      "name": "Reservation Requests",
      "description": "Reservation Request Tags"
    },
    {
      "name": "Reservations",
      "description": "Reservation Tags"
    },
    {
      "name": "Events",
      "description": "Event Tags"
    },
    {
      "name": "Waitlist",
      "description": "Waitlist Tags"
    },
    {
      "name": "Clients",
      "description": "Client Tags"
    },
    {
      "name": "Charges",
      "description": "Charges Tags"
    },
    {
      "name": "Shifts",
      "description": "Shift tags"
    },
    {
      "name": "Programs",
      "description": "Program Tags"
    },
    {
      "name": "Reservation Feedback",
      "description": "Reservation Feedback Tags"
    },
    {
      "name": "Upgrades",
      "description": "Upgrade Tags"
    },
    {
      "name": "Upgrade Categories",
      "description": "Upgrade Category Tags"
    },
    {
      "name": "Activity Logs",
      "description": "Activity Log Tags"
    },
    {
      "name": "Payments",
      "description": "Payments"
    },
    {
      "name": "Paylinks",
      "description": "Paylink Tags"
    },
    {
      "name": "Orders",
      "description": "Order Tags"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "create_auth_token",
        "security": [],
        "summary": "Create an API Authorization Token",
        "description": "Create an API Authorization Token for making requests to the SevenRooms Reservations API.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON object containing an Authorization token that expires after 24 hours.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AuthorizationResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "msg": {
                      "description": "Human‐readable message describing the response status.",
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "description": "Authentication token required to fulfill requests. Expires after 24 hours.",
                          "type": "string"
                        },
                        "token_expiration_datetime": {
                          "description": "Date/Time when the token will expire",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "msg": "Successfully authenticated.",
                  "status": 200,
                  "data": {
                    "token": "e179b0a6a6b293ef36972864ab0401c234e6524dce80d9f7235c64758dd6a69cd8d5d10aa0868faf8dd487c87ed12a308bdbed5aedf0f18327ab1b63a4060bdd",
                    "token_expiration_datetime": "2023-08-01T14:20:38.874800"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venue_id}": {
      "get": {
        "summary": "Get a Venue",
        "description": "Fetch a venue by ID.",
        "operationId": "get_venue",
        "tags": [
          "Venues"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path"
          }
        ],
        "responses": {
          "200": {
            "description": "Venue object\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "description": "Address first line",
                          "example": "122 West 27th Street",
                          "type": "string"
                        },
                        "black_logo": {
                          "type": "string"
                        },
                        "black_logo_direct": {
                          "type": "object",
                          "properties": {
                            "large": {
                              "type": "string"
                            },
                            "large_height": {
                              "type": "integer"
                            },
                            "large_width": {
                              "type": "integer"
                            },
                            "medium": {
                              "type": "string"
                            },
                            "medium_height": {
                              "type": "integer"
                            },
                            "medium_width": {
                              "type": "integer"
                            },
                            "raw": {
                              "type": "string"
                            },
                            "small": {
                              "type": "string"
                            },
                            "small_height": {
                              "type": "integer"
                            },
                            "small_width": {
                              "type": "integer"
                            }
                          }
                        },
                        "country": {
                          "description": "The country of the Client's residential address.",
                          "example": "United States",
                          "type": "string"
                        },
                        "cross_street": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        },
                        "external_venue_id": {
                          "type": "string",
                          "description": "Unique identifier in an external system for a Venue.      \n> You may specify your own identifiers for Venues for various reference purposes in your own systems."
                        },
                        "full_dining_backend": {
                          "type": "boolean"
                        },
                        "grid_enabled": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "internal_name": {
                          "description": "Venue internally-facing name that users will see when using SevenRooms, primarily for use when differentially similarly-named venues in different locations",
                          "type": "string"
                        },
                        "membership_enabled": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "neighborhood": {
                          "description": "Neighborhood of venue",
                          "type": "string"
                        },
                        "phone_number": {
                          "description": "Phone number associated with the Reservation.      \n> Can be numerous valid formats, including international phone      \nnumbers. US phone numbers generally follow      \n1-xxx-xxx-xxxx.",
                          "example": "1-555-555-5555",
                          "type": "string"
                        },
                        "photos": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "policy": {
                          "type": "string"
                        },
                        "postal_code": {
                          "description": "`postal_code` value from the Client entity associated with the Reservation.",
                          "type": "string"
                        },
                        "primary_color": {
                          "description": "Venue primary color in hex",
                          "type": "string"
                        },
                        "secondary_color": {
                          "description": "Venue secondary color in hex",
                          "type": "string"
                        },
                        "state": {
                          "description": "`state` value from the Client entity associated with the Reservation.",
                          "type": "string"
                        },
                        "unique_confirmation_prefix": {
                          "description": "Unique prefix for a Venue's reservation within it's Venue Group",
                          "type": "string"
                        },
                        "venue_class": {
                          "type": "string"
                        },
                        "venue_group_id": {
                          "description": "Unique identifier of the venue group.",
                          "type": "string"
                        },
                        "venue_group_name": {
                          "type": "string"
                        },
                        "venue_url_key": {
                          "type": "string"
                        },
                        "website": {
                          "type": "string"
                        },
                        "white_logo": {
                          "type": "string"
                        },
                        "white_logo_direct": {
                          "type": "object",
                          "properties": {
                            "large": {
                              "type": "string"
                            },
                            "large_height": {
                              "type": "integer"
                            },
                            "large_width": {
                              "type": "integer"
                            },
                            "medium": {
                              "type": "string"
                            },
                            "medium_height": {
                              "type": "integer"
                            },
                            "medium_width": {
                              "type": "integer"
                            },
                            "raw": {
                              "type": "string"
                            },
                            "small": {
                              "type": "string"
                            },
                            "small_height": {
                              "type": "integer"
                            },
                            "small_width": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "phone_number": 12125559876,
                    "neighborhood": "Lower East Side",
                    "venue_class": "DINING",
                    "municipality": "New York",
                    "venue_group_name": "Docs Group",
                    "postal_code": 11201,
                    "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHAsSD25pZ2h0bG9vcF9WZW51ZRiAgJCYqsOBCAw",
                    "external_venue_id": "10001-abc",
                    "unique_confirmation_prefix": "DCNY",
                    "secondary_color": "#0000ff",
                    "grid_enabled": true,
                    "venue_group_id": "ahZzfnNldmVub3BfVmVudWVHcm91cBic2VjdXJlLXFhciELEhRuaWdodGAgMjWsMTYCAwcm9vbXMtxv",
                    "internal_name": "Annie's",
                    "policy": "Thank you for your reservation. Should your plans change, please let us know 24 hours before your reservation time. We look forward to serving you.",
                    "white_logo": {},
                    "primary_color": "#000000",
                    "website": "None",
                    "photos": [],
                    "address": {
                      "street": "230 Park Avenue South",
                      "city": "New York"
                    },
                    "venue_url_key": "Annies",
                    "black_logo": {},
                    "name": "Annie's",
                    "cross_street": "13th Street",
                    "membership_enabled": false,
                    "full_dining_backend": true,
                    "municipality_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yGwsSFWxvY2F0aW9uX011bmljaXBhbGl0eRgBDA",
                    "currency_code": "USD"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venue_id}/availability": {
      "get": {
        "summary": "Get Venue Availability",
        "description": "Retrieve a venue's availability.",
        "operationId": "get_venue_availability",
        "tags": [
          "Availability"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path"
          },
          {
            "$ref": "#/components/parameters/query_required"
          },
          {
            "$ref": "#/components/parameters/slot_start_time_query_required"
          },
          {
            "$ref": "#/components/parameters/slot_end_time_query_required"
          },
          {
            "$ref": "#/components/parameters/party_size_query_required"
          },
          {
            "$ref": "#/components/parameters/query_optional"
          },
          {
            "$ref": "#/components/parameters/table_query_optional"
          },
          {
            "$ref": "#/components/parameters/prev_reservation_hold_id_query_optional"
          },
          {
            "$ref": "#/components/parameters/prev_reservation_id_query_optional"
          },
          {
            "$ref": "#/components/parameters/include_payments_by_paylink_query_optional"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON list of Availability objects per shift. Each shift contains a `times` property with per time slot availability for the specified Venue.\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**\n\n\nTime Slot Types\n----------------\n| Type | Description |\n|-------|---------------- |\n| book | Time slot is available for booking. |\n| request | Time slot is accepting reservation requests. The responses with type=request mean that there is no availability for that time slot and is a request only. If the returned time slot is a type=request, this means that the venue is only accepting reservation requests at that time.|",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "availability": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "shift_persistent_id": {
                                "description": "Unique identifier of the Shift belonging to this Reservation.      \n> Concatenation of:      \n> - Venue ID      \n> - Shift Category      \n> - Timestamp when shift was created      \n>       \n> Note that Venue ID may contain dashes.",
                                "example": "ahNzfnNldmVu2dsasg- DINNER-1443199242.75",
                                "type": "string"
                              },
                              "shift_id": {
                                "type": "string"
                              },
                              "shift_category": {
                                "type": "string"
                              },
                              "is_closed": {
                                "type": "boolean"
                              },
                              "upsell_categories": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "times": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "access_persistent_id": {
                                      "type": "string",
                                      "description": "Unique identifier for access as a result of the availability call for the given time slot.      \n\nAccess persistent ID from result of availability call for given time slot."
                                    },
                                    "access_seating_area_id": {
                                      "type": "string"
                                    },
                                    "cancellation_policy": {
                                      "type": "string"
                                    },
                                    "cc_party_size_min": {
                                      "type": "integer"
                                    },
                                    "cc_payment_rule": {
                                      "type": "string"
                                    },
                                    "charge_type": {
                                      "type": "string"
                                    },
                                    "cost": {
                                      "type": "integer"
                                    },
                                    "duration": {
                                      "description": "The amount of time, in minutes, for the Reservation.",
                                      "example": 60,
                                      "type": "integer"
                                    },
                                    "gratuity": {
                                      "type": "number"
                                    },
                                    "is_held": {
                                      "type": "boolean"
                                    },
                                    "is_using_shift_upsells": {
                                      "type": "boolean"
                                    },
                                    "pacing_covers_remaining": {
                                      "type": "integer"
                                    },
                                    "pacing_limit": {
                                      "type": "integer"
                                    },
                                    "policy": {
                                      "type": "string"
                                    },
                                    "public_description_title": {
                                      "type": "string"
                                    },
                                    "public_long_form_description": {
                                      "type": "string"
                                    },
                                    "public_photo": {
                                      "type": "string"
                                    },
                                    "public_time_slot_description": {
                                      "type": "string"
                                    },
                                    "real_datetime_of_slot": {
                                      "type": "string"
                                    },
                                    "require_credit_card": {
                                      "type": "boolean"
                                    },
                                    "reservation_tags": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "sort_order": {
                                      "type": "integer"
                                    },
                                    "tax_rate": {
                                      "type": "number"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Reservation time"
                                    },
                                    "time_iso": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "upsell_categories": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "is_previous_version": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "availability": [
                      {
                        "name": "Day",
                        "shift_persistent_id": "ahZzfnNldhchwLEg9uaWdodGxvb3BfVmVumVucm9vbXMtc2VjdXJlLXFdWUYgIDI1uKdvQgM-DINNER-1137276712.21",
                        "shift_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXVudWUYgIDI1uKdvQgMCxIPc3JfU2hpZnREZWZhdWx0GICA6FhcjgLEg9uaWdodGxvb3BfVmKev2JcIDA",
                        "shift_category": "DINNER",
                        "is_closed": false,
                        "upsell_categories": [],
                        "times": [
                          {
                            "access_seating_area_id": null,
                            "charge_type": null,
                            "upsell_categories": [
                              "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGxvb3BfVmVudWUYgICQhprSjAkMCxIRc3JfVXBzZWxsQ2F0ZWdvcnkYgICAgPD3hQoM",
                              "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGxvb3BfVmVudWUYgICQhprSjAkMCxIRc3JfVXBzZWxsQ2F0ZWdvcnkYgICAgMDflwoM"
                            ],
                            "cc_party_size_min": null,
                            "public_time_slot_description": "",
                            "cancellation_policy": "If you REALLY want to cancel a reservation do it exactly 24 hours prior. For no shows or late cancellations, you will be subject to fee of $0.25 per person, plus a $2,500 annoyance fee that will be applied to the credit card on file. Payable in your local currency or organs.",
                            "pacing_covers_remaining": 9999,
                            "real_datetime_of_slot": "2019-02-24 17:00:00",
                            "cost": 0,
                            "tax_rate": null,
                            "is_using_shift_upsells": false,
                            "duration": 90,
                            "require_credit_card": true,
                            "pacing_limit": 9999,
                            "time_iso": "2024-02-24 17:00:00",
                            "access_persistent_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhchwLEg9uaWdodGxvb3BfVmVudWUYgICQhprSjAkM-1549771833.76-0.0955918112665",
                            "reservation_tags": [
                              "PUBLIC##ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhch8LEhJzcl9HZW5lcmljVGFnR3JvdXAYgICQ-oeg0ggM##Seating Request##Window requested",
                              "PUBLIC##ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhch8LEhJzcl9HZW5lcmljVGFnR3JvdXAYgICQ-oegkgsM##Special Attention##Non-English speaking"
                            ],
                            "gratuity": null,
                            "is_held": true,
                            "public_photo": "",
                            "sort_order": 44,
                            "time": "5:00 PM",
                            "policy": "Don't be a jerk. Let us know when you're going to cancel like a day before. Otherwise we will find you and we will drag you to your reservation.",
                            "type": "book",
                            "cc_payment_rule": "save_for_later",
                            "public_long_form_description": "<p><br></p>",
                            "public_description_title": ""
                          }
                        ],
                        "is_previous_version": false
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues": {
      "get": {
        "summary": "List all Venues",
        "description": "Retrieve a list of Venues.",
        "operationId": "get_venues",
        "tags": [
          "Venues"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/venue_group_id_query_optional"
          },
          {
            "$ref": "#/components/parameters/limit_query_optional"
          },
          {
            "$ref": "#/components/parameters/cursor_query_optional"
          },
          {
            "$ref": "#/components/parameters/active_query_optional"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON list of Venues\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "description": "Address first line",
                                "example": "122 West 27th Street",
                                "type": "string"
                              },
                              "black_logo": {
                                "type": "string"
                              },
                              "black_logo_direct": {
                                "type": "object",
                                "properties": {
                                  "large": {
                                    "type": "string"
                                  },
                                  "large_height": {
                                    "type": "integer"
                                  },
                                  "large_width": {
                                    "type": "integer"
                                  },
                                  "medium": {
                                    "type": "string"
                                  },
                                  "medium_height": {
                                    "type": "integer"
                                  },
                                  "medium_width": {
                                    "type": "integer"
                                  },
                                  "raw": {
                                    "type": "string"
                                  },
                                  "small": {
                                    "type": "string"
                                  },
                                  "small_height": {
                                    "type": "integer"
                                  },
                                  "small_width": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "country": {
                                "description": "The country of the Client's residential address.",
                                "example": "United States",
                                "type": "string"
                              },
                              "cross_street": {
                                "type": "string"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "external_venue_id": {
                                "type": "string",
                                "description": "Unique identifier in an external system for a Venue.      \n> You may specify your own identifiers for Venues for various reference purposes in your own systems."
                              },
                              "full_dining_backend": {
                                "type": "boolean"
                              },
                              "grid_enabled": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "internal_name": {
                                "description": "Venue internally-facing name that users will see when using SevenRooms, primarily for use when differentially similarly-named venues in different locations",
                                "type": "string"
                              },
                              "membership_enabled": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "neighborhood": {
                                "description": "Neighborhood of venue",
                                "type": "string"
                              },
                              "phone_number": {
                                "description": "Phone number associated with the Reservation.      \n> Can be numerous valid formats, including international phone      \nnumbers. US phone numbers generally follow      \n1-xxx-xxx-xxxx.",
                                "example": "1-555-555-5555",
                                "type": "string"
                              },
                              "photos": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "policy": {
                                "type": "string"
                              },
                              "postal_code": {
                                "description": "`postal_code` value from the Client entity associated with the Reservation.",
                                "type": "string"
                              },
                              "primary_color": {
                                "description": "Venue primary color in hex",
                                "type": "string"
                              },
                              "secondary_color": {
                                "description": "Venue secondary color in hex",
                                "type": "string"
                              },
                              "state": {
                                "description": "`state` value from the Client entity associated with the Reservation.",
                                "type": "string"
                              },
                              "unique_confirmation_prefix": {
                                "description": "Unique prefix for a Venue's reservation within it's Venue Group",
                                "type": "string"
                              },
                              "venue_class": {
                                "type": "string"
                              },
                              "venue_group_id": {
                                "description": "Unique identifier of the venue group.",
                                "type": "string"
                              },
                              "venue_group_name": {
                                "type": "string"
                              },
                              "venue_url_key": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              },
                              "white_logo": {
                                "type": "string"
                              },
                              "white_logo_direct": {
                                "type": "object",
                                "properties": {
                                  "large": {
                                    "type": "string"
                                  },
                                  "large_height": {
                                    "type": "integer"
                                  },
                                  "large_width": {
                                    "type": "integer"
                                  },
                                  "medium": {
                                    "type": "string"
                                  },
                                  "medium_height": {
                                    "type": "integer"
                                  },
                                  "medium_width": {
                                    "type": "integer"
                                  },
                                  "raw": {
                                    "type": "string"
                                  },
                                  "small": {
                                    "type": "string"
                                  },
                                  "small_height": {
                                    "type": "integer"
                                  },
                                  "small_width": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "limit": {
                          "type": "string",
                          "description": "Limit on objects returned between 1 and 400. Default is 30.",
                          "minimum": 1,
                          "maximum": 400,
                          "default": 30
                        },
                        "cursor": {
                          "type": "string",
                          "description": "Cursor for pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "cursor": "",
                    "limit": 50,
                    "results": [
                      {
                        "phone_number": 12125559876,
                        "neighborhood": "Lower East Side",
                        "venue_class": "DINING",
                        "municipality": "New York",
                        "venue_group_name": "Docs Group",
                        "postal_code": 11201,
                        "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHAsSD25pZ2h0bG9vcF9WZW51ZRiAgJCYqsOBCAw",
                        "external_venue_id": "10001-abc",
                        "unique_confirmation_prefix": "DCNY",
                        "secondary_color": "#0000ff",
                        "grid_enabled": true,
                        "venue_group_id": "ahZzfnNldmVub3BfVmVudWVHcm91cBic2VjdXJlLXFhciELEhRuaWdodGAgMjWsMTYCAwcm9vbXMtxv",
                        "internal_name": "Annie's",
                        "policy": "Thank you for your reservation. Should your plans change, please let us know 24 hours before your reservation time. We look forward to serving you.",
                        "white_logo": {},
                        "primary_color": "#000000",
                        "website": "None",
                        "photos": [],
                        "address": {
                          "street": "230 Park Avenue South",
                          "city": "New York"
                        },
                        "venue_url_key": "Annies",
                        "black_logo": {},
                        "name": "Annie's",
                        "cross_street": "13th Street",
                        "membership_enabled": false,
                        "full_dining_backend": true,
                        "municipality_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yGwsSFWxvY2F0aW9uX011bmljaXBhbGl0eRgBDA",
                        "currency_code": "USD"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venue_id}/promo_codes": {
      "get": {
        "summary": "List all Venue Promo Codes",
        "description": "Retrieve a list of Venue promo codes.",
        "operationId": "get_venue_promo_codes",
        "tags": [
          "Venue Promo Codes"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON list of Venue Promo Codes\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "promo_codes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "applicable_days_of_week": {
                                "description": "Monday is 0, Sunday is 6, [] = all days applicable",
                                "type": "boolean"
                              },
                              "applicable_entity_ids": {
                                "type": "string"
                              },
                              "applies_to_base": {
                                "type": "boolean"
                              },
                              "applies_to_upgrades": {
                                "type": "boolean"
                              },
                              "batch_id": {
                                "type": "string"
                              },
                              "can_use": {
                                "type": "boolean"
                              },
                              "code": {
                                "type": "string"
                              },
                              "code_type": {
                                "type": "string"
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Created timestamp"
                              },
                              "credit_card_type": {
                                "description": "AMERICAN_EXPRESS, DISCOVER, MASTER_CARD, VISA, DINERS_CLUB, JCB, or NONE",
                                "type": "string"
                              },
                              "deleted": {
                                "type": "string"
                              },
                              "expires": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "import_id": {
                                "type": "string"
                              },
                              "is_active_today": {
                                "type": "boolean"
                              },
                              "is_exhausted": {
                                "type": "boolean"
                              },
                              "is_expired": {
                                "type": "boolean"
                              },
                              "is_upcoming": {
                                "type": "boolean"
                              },
                              "key": {
                                "type": "string"
                              },
                              "key_urlsafe": {
                                "type": "string"
                              },
                              "limit": {
                                "type": "string",
                                "description": "Limit on objects returned between 1 and 400. Default is 30.",
                                "minimum": 1,
                                "maximum": 400,
                                "default": 30
                              },
                              "min_subtotal": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "platform_apply_types": {
                                "description": "RESERVATION_WIDGET, EVENT_WIDGET, or ORDERING",
                                "type": "string"
                              },
                              "promo_code_description": {
                                "type": "string"
                              },
                              "promo_component": {
                                "type": "string"
                              },
                              "promo_range_apply_type": {
                                "type": "string"
                              },
                              "promo_type": {
                                "type": "string"
                              },
                              "promo_value": {
                                "type": "number"
                              },
                              "promo_value_cap": {
                                "type": "number"
                              },
                              "start_datetime": {
                                "type": "string"
                              },
                              "unique_columns": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "string"
                              },
                              "uses": {
                                "type": "number"
                              },
                              "venue_group_key": {
                                "type": "string"
                              },
                              "venue_key": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "promo_codes": [
                      {
                        "applicable_days_of_week": [],
                        "applicable_entity_ids": [],
                        "applies_to_base": true,
                        "applies_to_upgrades": true,
                        "batch_id": "None",
                        "can_use": true,
                        "code": "VOUCHERCART",
                        "code_type": "VENUE_GROUP",
                        "created": "2023-12-07T14:20:38.874800",
                        "credit_card_type": "NONE",
                        "deleted": "2024-02-28T16:27:38.874800",
                        "expires": "None",
                        "id": 5314464411942912,
                        "import_id": "None",
                        "is_active_today": true,
                        "is_exhausted": "None",
                        "is_expired": false,
                        "is_upcoming": false,
                        "key": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhchkLEgxzcl9Qcm9tb0NvZGUYgIDI26KvuAkM",
                        "key_urlsafe": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhchkLEgxzcl9Qcm9tb0NvZGUYgIDI26KvuAkM",
                        "limit": 1,
                        "min_subtotal": "None",
                        "name": "Text Vouchercart",
                        "platform_apply_types": [
                          "RESERVATION_WIDGET"
                        ],
                        "promo_code_description": "Vouchercart",
                        "promo_component": "ALL",
                        "promo_range_apply_type": "BOOKING_DATE",
                        "promo_type": "DOLLAR_DISCOUNT",
                        "promo_value": 10000,
                        "promo_value_cap": "None",
                        "start_datetime": "2023-03-07T15:09:30.277712",
                        "unique_columns": [],
                        "updated": "2024-01-14T14:20:38.874800",
                        "uses": 0,
                        "venue_group_key": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhciELEhRuaWdodGxvb3BfVmVudWVHcm91cBiAgMjWsMTYCAw",
                        "venue_key": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhchwLEg9uaWdodGxvb3BfVmVudWUYgIDI1uKdvQgM"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venue_id}/book": {
      "put": {
        "summary": "Create a Reservation",
        "description": "Book a reservation at a Venue by ID.",
        "operationId": "create_reservation",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateReservation_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Object containing identifiers for the created Reservation object.\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reservation_reference_code": {
                          "type": "string"
                        },
                        "reservation_id": {
                          "type": "string",
                          "description": "Unique identifier for the reservaiton"
                        },
                        "client_reference_code": {
                          "type": "string"
                        },
                        "client_id": {
                          "description": "Unique identifier of the Client profile",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "reservation_reference_code": "54BLG3M8",
                    "reservation_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcicLEhtuaWdodGxvb3BfUmVzZXJ2YXRpb25BY3R1YWwYwdn_2J-KBgw",
                    "client_reference_code": "9H8C1X1QC",
                    "client_id": "ahZzfnNldmVucm9vbXMVudWVHcm91XFhcicLEhpuaWdcENsaWVudBiAgJiBuenrCAwtc2VjdXJlLodGxvb3BfVm"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reservations/{reservation_id}": {
      "get": {
        "summary": "Get a Reservation",
        "description": "Retrieve a specified Reservation.",
        "operationId": "get_reservation",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/reservation_id_reference_code_path"
          },
          {
            "$ref": "#/components/parameters/show_auto_assignments_query_optional"
          },
          {
            "$ref": "#/components/parameters/show_problems_query_optional"
          }
        ],
        "responses": {
          "200": {
            "description": "Object containing identifiers for the created Reservation object.\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_persistent_id": {
                          "type": "string",
                          "description": "Unique identifier for access as a result of the availability call for the given time slot.      \n\nAccess persistent ID from result of availability call for given time slot."
                        },
                        "address": {
                          "description": "Address first line",
                          "example": "122 West 27th Street",
                          "type": "string"
                        },
                        "address_2": {
                          "description": "Address second line",
                          "example": "7th Floor",
                          "type": "string"
                        },
                        "arrival_time": {
                          "description": "Local time for the Reservation.      \n> Times begin at 6AM. Any time considered the next day, e.g. 2AM will still be considered the same evening.",
                          "example": "5:00:00 PM",
                          "type": "string"
                        },
                        "arrived_guests": {
                          "description": "Number of people that actually arrived for the Reservation.",
                          "example": 4,
                          "type": "integer"
                        },
                        "booked_by": {
                          "description": "Client who will be accredited for booking the Reservation.",
                          "example": "Peter Jones",
                          "type": "string"
                        },
                        "check_numbers": {
                          "description": "Check numbers for the Reservation.      \n\n> Comma-delimited value, entered free form or populated via POS integration.",
                          "type": "string"
                        },
                        "city": {
                          "description": "The city of the Client's residential address.      ",
                          "example": "New York",
                          "type": "string"
                        },
                        "client_id": {
                          "description": "Unique identifier of the Client profile",
                          "type": "string"
                        },
                        "client_reference_code": {
                          "type": "string"
                        },
                        "client_requests": {
                          "description": "Requests supplied by guests at the time of booking for the Reservation.",
                          "type": "string"
                        },
                        "comps": {
                          "description": "Amount comp'd on this Reservation.      \n\n> Stored as      \n  currency of the Venue's location.",
                          "example": 1500,
                          "type": "integer"
                        },
                        "comps_price_type": {
                          "description": "The type of comp provided to the Reservation.      \n\n> Can be one of:      \n>       \n> - dollar      \n> - bottle ",
                          "example": "dollar",
                          "type": "string"
                        },
                        "cost_option": {
                          "description": "Bitfield for one of the following values:      \n\n  - Fee Dollars      \n  - Minimum Dollars      \n  - Minimum Bottles      \n  - Comp      \n  - No Min",
                          "type": "integer"
                        },
                        "country": {
                          "description": "The country of the Client's residential address.",
                          "example": "United States",
                          "type": "string"
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Created timestamp"
                        },
                        "custom_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "system_name": {
                                "type": "string"
                              },
                              "display_order": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "date": {
                          "type": "string",
                          "format": "date",
                          "description": "Date in ISO 8601 format"
                        },
                        "deleted": {
                          "type": "string"
                        },
                        "duration": {
                          "description": "The amount of time, in minutes, for the Reservation.",
                          "example": 60,
                          "type": "integer"
                        },
                        "email": {
                          "description": "Email associated with the Reservation.      \n> All emails are validated for format prior to entry into the system.",
                          "example": "support@sevenrooms.com",
                          "type": "string"
                        },
                        "external_client_id": {
                          "description": "Client or Customer ID of the external system that      \nbooked this Reservation, if applicable.      \n\n> If the Reservation was imported as part of a booking channel integration, e.g. Google Reserve, this field will be populated with the customer ID from that channel.",
                          "example": "3215klsfda",
                          "type": "string"
                        },
                        "external_id": {
                          "description": "ID for 3rd party foreign key to this reservation      \n\n> You may specify your own identifiers for Reservations that you book via the API for various reference purposes in your own systems.",
                          "example": 55602,
                          "type": "string"
                        },
                        "external_reference_code": {
                          "description": "The reference or confirmation number of the external system      \nthat booked this Reservation, if applicable",
                          "example": "1s430snmaw",
                          "type": "string"
                        },
                        "external_user_id": {
                          "description": "Third party User ID stored on the Client profile.      \n\n> You may associate an external user account with a Client in the SevenRooms database. If the associated client for the Reservation has an `external_user_id` then that value will be returned here.",
                          "example": 55602,
                          "type": "string"
                        },
                        "first_name": {
                          "description": "The Client's first name.",
                          "example": "John",
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "is_vip": {
                          "description": "VIP status of the Client booking the Reservation.",
                          "example": true,
                          "type": "boolean"
                        },
                        "last_name": {
                          "example": "Last name of the Client booking the Reservation.",
                          "type": "string"
                        },
                        "left_time": {
                          "description": "Local time the party left the Venue.",
                          "example": "9:45:00 PM",
                          "type": "string"
                        },
                        "loyalty_id": {
                          "example": "`loyalty_id` value from the Client entity associated with the Reservation.",
                          "type": "string"
                        },
                        "loyalty_rank": {
                          "example": "`loyalty_rank` value from the Client entity.",
                          "type": "integer"
                        },
                        "loyalty_tier": {
                          "description": "`loyalty_tier` value from the Client entity associated with the Reservation..",
                          "type": "string"
                        },
                        "max_guests": {
                          "description": "Number of people expected for the Reservation.",
                          "example": 6,
                          "type": "integer"
                        },
                        "mf_ratio_female": {
                          "description": "Number of females expected for the Reservation.",
                          "example": 2,
                          "type": "integer"
                        },
                        "mf_ratio_male": {
                          "description": "Number of males expected for the Reservation.",
                          "example": 2,
                          "type": "integer"
                        },
                        "min_price": {
                          "description": "Minimum price required for the Reservation.",
                          "example": 1500,
                          "type": "integer"
                        },
                        "modify_reservation_link": {
                          "description": "Link for client to modify a reservation",
                          "example": "https://sevenrooms.com/direct/modify-reservation/MzkyNDNlNjc2OTRlZThiN2I1ZmI3Y2U4MzFjNmUwZDRmYjlmZGUzZDqAAn1xAShVGGFjdHVhbF9jcmVhdGVkX3RpbWVzdGFtcHECVRExNTY3ODAxNjY0LjY4NzU2OVUJYWN0dWFsX2lkcQNVWGFoWnpmbk5sZG1WdWNtOXZiWE10YzJWamRYSmxMWEZoY2lnTEVodHVhV2RvZEd4dmIzQmZVbVZ6WlhKMllYUnBiMjVCWTNSMVlXd1lnSURRdjlxQXNnb01xBHUu",
                          "type": "string"
                        },
                        "notes": {
                          "description": "Internal, Venue facing notes for the Reservation.",
                          "type": "string"
                        },
                        "onsite_payment": {
                          "description": "Net spend before gratuity and taxes for the Reservation.      \n> Stored as currency of the Venue's location.",
                          "example": 1105.15,
                          "type": "number"
                        },
                        "paid_by": {
                          "description": "Full name of Client that paid for the Reservation.      \n> Entered free form.",
                          "example": "Peter Jones",
                          "type": "string"
                        },
                        "phone_number": {
                          "description": "Phone number associated with the Reservation.      \n> Can be numerous valid formats, including international phone      \nnumbers. US phone numbers generally follow      \n1-xxx-xxx-xxxx.",
                          "example": "1-555-555-5555",
                          "type": "string"
                        },
                        "policy": {
                          "description": "Reservation policy for the Reservation.",
                          "type": "string"
                        },
                        "pos_tickets": {
                          "description": "JSON dictionary of Check information, including spend information and items ordered.",
                          "example": "{ <JSON Data> }",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              },
                              "admin_fee": {
                                "type": "number"
                              },
                              "code": {
                                "type": "integer"
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "quantity": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              },
                              "table_no": {
                                "type": "string"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "business_id": {
                                "type": "integer"
                              },
                              "local_pos_ticket_id": {
                                "type": "string"
                              },
                              "employee_name": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number"
                              },
                              "subtotal": {
                                "type": "number"
                              },
                              "start_time": {
                                "type": "string"
                              },
                              "service_charge": {
                                "type": "number"
                              },
                              "end_time": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "postal_code": {
                          "description": "`postal_code` value from the Client entity associated with the Reservation.",
                          "type": "string"
                        },
                        "prepayment": {
                          "description": "Prepayments for the Reservation.      \n> Stored as currency of the Venue's location.",
                          "example": 1263.54,
                          "type": "number"
                        },
                        "rating": {
                          "description": "A score between 1 and 10.",
                          "type": "integer"
                        },
                        "reference_code": {
                          "description": "Guest facing Reservation number. Uniqueness      \nis scoped to a Venue. If Venue prefixes are turned on,      \nuniqueness is scoped to the Venue Group level.",
                          "example": "A34CE38",
                          "type": "string"
                        },
                        "reservation_sms_opt_in": {
                          "description": "Show opt-in for receiving SMS about reservations",
                          "type": "boolean"
                        },
                        "reservation_type": {
                          "description": "Comma-delimited list of Reservation tag names.",
                          "example": "Corporate Event, Peanut Allergy",
                          "type": "string"
                        },
                        "seated_time": {
                          "description": "Local time the party was seated at the Venue.",
                          "example": "7:00:00 PM",
                          "type": "string"
                        },
                        "send_reminder_email": {
                          "description": "If True, an email is sent to remind the guest of their reservation.",
                          "type": "boolean"
                        },
                        "send_reminder_sms": {
                          "description": "If True, a SMS is sent to remind the guest of their reservation.",
                          "type": "boolean"
                        },
                        "served_by": {
                          "description": "Full name of the server for the Reservation.",
                          "example": "Allison Richards",
                          "type": "string"
                        },
                        "hotel_confirmation": {
                          "description": "Confirmation code for the hotel (if applicable)",
                          "type": "string"
                        },
                        "hotel_id": {
                          "type": "string"
                        },
                        "hotel_room": {
                          "description": "Room at hotel (if applicable and available)",
                          "type": "string"
                        },
                        "shift_category": {
                          "type": "string"
                        },
                        "shift_persistent_id": {
                          "description": "Unique identifier of the Shift belonging to this Reservation.      \n> Concatenation of:      \n> - Venue ID      \n> - Shift Category      \n> - Timestamp when shift was created      \n>       \n> Note that Venue ID may contain dashes.",
                          "example": "ahNzfnNldmVu2dsasg- DINNER-1443199242.75",
                          "type": "string"
                        },
                        "source_client_id": {
                          "description": "Foreign key to a source Client entity.      \n> The optional source client parameter refers to the client who booked the Reservation on behalf of guest, e.g. Concierge or Assistant. ",
                          "example": "sd25swfda",
                          "type": "string"
                        },
                        "state": {
                          "description": "`state` value from the Client entity associated with the Reservation.",
                          "type": "string"
                        },
                        "status": {
                          "description": "Status of the Reservation.      \n\nFor more information please see the guide on Reservation Statuses [here](https://api-docs.sevenrooms.com/guides/reservation-statuses).      \n  \n> Customizable per Venue. Default statuses include:      \n> - NOT_RECONCILED      \n> - NO_ENTRY      \n> - NO_SHOW      \n> - CANCELED      \n> - LEFT_MESSAGE      \n> - WRONG_NUMBER      \n> - CONFIRMED      \n> - PRE_ARRIVED      \n> - PRE_PARTIALLY_ARRIVED      \n> - ARRIVED       \n> - ARRIVED_PARTIAL      \n> - LATE      \n> - 1ST_COURSE      \n> - 2ND_COURSE      \n> - 3RD_COURSE      \n> - DESSERT      \n> - CHECK_DROPPED      \n> - PAID      \n> - BUS_TABLE      \n> - COMPLETE      ",
                          "type": "string"
                        },
                        "status_display": {
                          "description": "Venue-configured display value for the status database      \nvalues.      \n      \nFor more information please see the guide on Reservation Statuses [here](https://api-docs.sevenrooms.com/guides/reservation-statuses).      \n\n> Configurable in Venue settings.",
                          "example": "Appetizer",
                          "type": "string"
                        },
                        "status_simple": {
                          "description": "A value of one of the following statuses:      \n- Incomplete      \n- Complete      \n- Canceled      \n- No Show      \n- No Entry      \n      \nFor more information please see the guide on Reservation Statuses [here](https://api-docs.sevenrooms.com/guides/reservation-statuses).      \n      \n> Canceled, No Show, and No Entry are specifically      \ncalled out. All other pre-service statuses (e.g.      \nBooked, Left Message) are valued as Incomplete. Any inservice      \nstatus (e.g. Seated, Left) is valued as Complete. Subject to future additions.",
                          "example": "Incomplete",
                          "type": "string"
                        },
                        "table_numbers": {
                          "description": "Comma-delimited table numbers for the Reservation.",
                          "example": "DJ, 05, 27",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "tags": {
                          "type": "array"
                        },
                        "total_payment": {
                          "description": "Sum of `prepayment` and `onsite_payment` for the Reservation.",
                          "example": 1303.09,
                          "type": "integer"
                        },
                        "updated": {
                          "type": "string"
                        },
                        "user": {
                          "description": "The SevenRooms User who created the Reservation.",
                          "example": "Chris Walker",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "venue_group_client_id": {
                          "description": "Foreign key to a Venue Group client entity.",
                          "type": "string"
                        },
                        "venue_group_id": {
                          "description": "Unique identifier of the venue group.",
                          "type": "string"
                        },
                        "venue_id": {
                          "description": "Unique identifier of the venue.",
                          "type": "string"
                        },
                        "venue_seating_area_id": {
                          "description": "The id of the seating area.  This attribute will be populated once the table has been assigned",
                          "example": "T1",
                          "type": "string"
                        },
                        "venue_seating_area_name": {
                          "description": "The name of the seating area.  This attribute will be populated once the table has been assigned",
                          "example": "Lounge",
                          "type": "string"
                        },
                        "auto_assignments": {
                          "type": "object",
                          "description": "Information about the Reservation's auto-assigned table(s).",
                          "properties": {
                            "table_codes": {
                              "type": "array",
                              "description": "One or more table codes auto-assigned to this Reservation.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "sort_order": {
                              "type": "integer",
                              "description": "The tables sort order as configured in the SevenRooms Web Portal."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the guest auto-assigned to the table(s)."
                            },
                            "table_ids": {
                              "type": "array",
                              "description": "One or more unique table IDs auto-assigned to this Reservation.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "is_reassigned": {
                              "type": "boolean",
                              "description": "Whether or not the auto-assignment was later reassigned to a different table when the guest was seated."
                            }
                          }
                        },
                        "problems": {
                          "type": "object",
                          "description": "Information regarding any problems that exist because of the Reservation's table assignment.",
                          "properties": {
                            "[actual_id]": {
                              "type": "object",
                              "properties": {
                                "problem_name": {
                                  "type": "string"
                                },
                                "is_major": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "rating": 4.2,
                    "last_name": "Doe",
                    "external_reference_code": "DH12J78",
                    "send_reminder_email": false,
                    "external_user_id": "abczyx123",
                    "updated": "2024-01-14T14:20:38.874800",
                    "check_numbers": null,
                    "shift_persistent_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhchwLEg9uaWdodGxvb3BfVmVudWUYgICQhprSjAkM-BREAKFAST-1552491652.9",
                    "left_time": "None",
                    "email": "jane.doe@gmail.com",
                    "status_simple": "Complete",
                    "postal_code": 11201,
                    "comps_price_type": "dollar",
                    "duration": "None",
                    "modify_reservation_link": "https://sevenrooms.com/direct/modify-reservation/MzkyNDNlNjc2OTRlZThiN2I1ZmI3Y2U4MzFjNmUwZDRmYjlmZGUzZDqAAn1xAShVGGFjdHVhbF9jcmVhdGVkX3RpbWVzdGFtcHECVRExNTY3ODAxNjY0LjY4NzU2OVUJYWN0dWFsX2lkcQNVWGFoWnpmbk5sZG1WdWNtOXZiWE10YzJWamRYSmxMWEZoY2lnTEVodHVhV2RvZEd4dmIzQmZVbVZ6WlhKMllYUnBiMjVCWTNSMVlXd1lnSURRdjlxQXNnb01xBHUu",
                    "id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcigLEhtuaWdodGxvb3BfUmVzZXJ2YXRpb25BY3R1YWwYgIDQv9qAsgoM",
                    "reservation_type": null,
                    "seated_time": "None",
                    "first_name": "Jane",
                    "venue_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhchwLEg9uaWdodGxvb3BfVmVudWUYgICQhprSjAkM",
                    "reservation_sms_opt_in": "None",
                    "venue_group_client_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhciYLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiRqJmaoYoGDA",
                    "arrived_guests": 5,
                    "client_reference_code": "9H8C1X1QC",
                    "state": "NY",
                    "send_reminder_sms": false,
                    "venue_group_id": "ahZzfnNldmVub3BfVmVudWVHcm91cBic2VjdXJlLXFhciELEhRuaWdodGAgMjWsMTYCAwcm9vbXMtxv",
                    "address_2": "None",
                    "min_price": "None",
                    "custom_fields": [],
                    "policy": null,
                    "served_by": "None",
                    "client_requests": "None",
                    "status": "COMPLETE",
                    "booked_by": "Paul Smith",
                    "phone_number": 12125559876,
                    "total_payment": 50,
                    "prepayment": 65,
                    "loyalty_id": "zyxabx987",
                    "tags": "",
                    "deleted": "None",
                    "mf_ratio_male": "None",
                    "mf_ratio_female": "None",
                    "comps": "None",
                    "external_client_id": "None",
                    "client_id": "ahZzfnNldmVucm9vbXMVudWVHcm91XFhcicLEhpuaWdcENsaWVudBiAgJiBuenrCAwtc2VjdXJlLodGxvb3BfVm",
                    "city": "New York",
                    "address": {
                      "street": "230 Park Avenue South",
                      "city": "New York"
                    },
                    "date": "2023-10-11",
                    "source_client_id": "None",
                    "loyalty_rank": 3,
                    "paid_by": null,
                    "loyalty_tier": "Platinum",
                    "shift_category": "BREAKFAST",
                    "table_numbers": [
                      "002"
                    ],
                    "max_guests": 5,
                    "arrival_time": "6:00 AM",
                    "country": "United States",
                    "cost_option": 0,
                    "created": "2023-09-07T14:20:38.874800",
                    "pos_tickets": "None",
                    "access_persistent_id": "ahFkZXZ-bmlnaHRsb29wLW5ld3IcCxIPbmlnaHRsb29wX1ZlbnVlGICAgICAjtUJDA-1569360529.21-0.580892461024",
                    "is_vip": false,
                    "reference_code": "7D0HP84OJK8",
                    "status_display": "Left",
                    "external_id": "None",
                    "notes": "Comes in for business meetings",
                    "user": {
                      "id": "ahZzfnNldmi2uPzzCQwVucmnYWVfVXNlchiA9vbXMtc2VjdXJlLXFhchULEghgM",
                      "name": "Integrator Group"
                    },
                    "auto_assignments": {
                      "table_codes": [
                        "10"
                      ],
                      "sort_order": 33,
                      "name": "Ms Jane Doe",
                      "table_ids": [
                        "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yggELEhFUYWJsZUl0ZW1BbmNlc3RvciJLYWhoemZuTmxkbVZ1Y205dmJYTXRjMlZqZFhKbExXUmxiVzl5SEFzU0QyNXBaMmgwYkc5dmNGOVdaVzUxWlJpQWdOQ0t1WWV6Q2d3DAsSE25pZ2h0bG9vcF9UYWJsZUl0ZW0YgIDQ0u3F4gsM"
                      ],
                      "is_reassigned": false
                    },
                    "problems": {
                      "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcigLEhtuaWdodGxvb3BfUmVzZXJ2YXRpb25BY3R1YWwYgIDQv9qAsgoM": {
                        "problem_name": "The reservation is too small for the current table",
                        "is_major": false
                      }
                    },
                    "real_datetime_of_slot": "2023-10-11 6:00:00",
                    "time_slot_iso": "6:00:00",
                    "venue_seating_area_name": null,
                    "venue_seating_area_id": "None",
                    "prepayment_total": 0,
                    "prepayment_net": "None",
                    "prepayment_service_charge": "None",
                    "prepayment_tax": "None",
                    "prepayment_gratuity": "None",
                    "onsite_payment": "None",
                    "onsite_payment_net": "None",
                    "onsite_payment_tax": "None",
                    "onsite_payment_gratuity": "None",
                    "onsite_payment_total": 0,
                    "total_net_payment": 0,
                    "total_gross_payment": 0,
                    "using_default_duration": false,
                    "hotel_confirmation": "None",
                    "hotel_id": "None",
                    "hotel_room": "None",
                    "upgrades": [
                      {
                        "inventory_id": "ahZzfnNldmVucm9vbXMtbnRvcnkYgIDI843suaWdodGxvb3BfVmVudWUYgIDI3fTMlgoMCxIac3JfVXBzZWxsQ2F0ZWdvcnlJbnZlbnRvcnkYgIDI843s6wgM",
                        "category_id": "ahZzfnNldmTMlgoMCxIRc3JfEg9uaWdodGxvb3BfVmVudWUYgIDI3fTMlgoMCxIRc3JfVXBzZWxsQ2F0ZWdvcnkYgIDIi5PSnggM",
                        "name": "Flowers",
                        "quantity": 2,
                        "price": 100,
                        "pos_item_id": ""
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update a Reservation",
        "description": "Update a specified Reservation.",
        "operationId": "update_reservation",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/reservation_id_reference_code_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReservation_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Reservation object\n\n**WARNING: The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.**",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_persistent_id": {
                          "type": "string",
                          "description": "Unique identifier for access as a result of the availability call for the given time slot.      \n\nAccess persistent ID from result of availability call for given time slot."
                        },
                        "address": {
                          "description": "Address first line",
                          "example": "122 West 27th Street",
                          "type": "string"
                        },
                        "address_2": {
                          "description": "Address second line",
                          "example": "7th Floor",
                          "type": "string"
                        },
                        "arrival_time": {
                          "description": "Local time for the Reservation.      \n> Times begin at 6AM. Any time considered the next day, e.g. 2AM will still be considered the same evening.",
                          "example": "5:00:00 PM",
                          "type": "string"
                        },
                        "arrived_guests": {
                          "description": "Number of people that actually arrived for the Reservation.",
                          "example": 4,
                          "type": "integer"
                        },
                        "booked_by": {
                          "description": "Client who will be accredited for booking the Reservation.",
                          "example": "Peter Jones",
                          "type": "string"
                        },
                        "check_numbers": {
                          "description": "Check numbers for the Reservation.      \n\n> Comma-delimited value, entered free form or populated via POS integration.",
                          "type": "string"
                        },
                        "city": {
                          "description": "The city of the Client's residential address.      ",
                          "example": "New York",
                          "type": "string"
                        },
                        "client_id": {
                          "description": "Unique identifier of the Client profile",
                          "type": "string"
                        },
                        "client_reference_code": {
                          "type": "string"
                        },
                        "client_requests": {
                          "description": "Requests supplied by guests at the time of booking for the Reservation.",
                          "type": "string"
                        },
                        "comps": {
                          "description": "Amount comp'd on this Reservation.      \n\n> Stored as      \n  currency of the Venue's location.",
                          "example": 1500,
                          "type": "integer"
                        },
                        "comps_price_type": {
                          "description": "The type of comp provided to the Reservation.      \n\n> Can be one of:      \n>       \n> - dollar      \n> - bottle ",
                          "example": "dollar",
                          "type": "string"
                        },
                        "cost_option": {
                          "description": "Bitfield for one of the following values:      \n\n  - Fee Dollars      \n  - Minimum Dollars      \n  - Minimum Bottles      \n  - Comp      \n  - No Min",
                          "type": "integer"
                        },
                        "country": {
                          "description": "The country of the Client's residential address.",
                          "example": "United States",
                          "type": "string"
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Created timestamp"
                        },
                        "custom_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "system_name": {
                                "type": "string"
                              },
                              "display_order": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "date": {
                          "type": "string",
                          "format": "date",
                          "description": "Date in ISO 8601 format"
                        },
                        "deleted": {
                          "type": "string"
                        },
                        "duration": {
                          "description": "The amount of time, in minutes, for the Reservation.",
                          "example": 60,
                          "type": "integer"
                        },
                        "email": {
                          "description": "Email associated with the Reservation.      \n> All emails are validated for format prior to entry into the system.",
                          "example": "support@sevenrooms.com",
                          "type": "string"
                        },
                        "external_client_id": {
                          "description": "Client or Customer ID of the external system that      \nbooked this Reservation, if applicable.      \n\n> If the Reservation was imported as part of a booking channel integration, e.g. Google Reserve, this field will be populated with the customer ID from that channel.",
                          "example": "3215klsfda",
                          "type": "string"
                        },
                        "external_id": {
                          "description": "ID for 3rd party foreign key to this reservation      \n\n> You may specify your own identifiers for Reservations that you book via the API for various reference purposes in your own systems.",
                          "example": 55602,
                          "type": "string"
                        },
                        "external_reference_code": {
                          "description": "The reference or confirmation number of the external system      \nthat booked this Reservation, if applicable",
                          "example": "1s430snmaw",
                          "type": "string"
                        },
                        "external_user_id": {
                          "description": "Third party User ID stored on the Client profile.      \n\n> You may associate an external user account with a Client in the SevenRooms database. If the associated client for the Reservation has an `external_user_id` then that value will be returned here.",
                          "example": 55602,
                          "type": "string"
                        },
                        "first_name": {
                          "description": "The Client's first name.",
                          "example": "John",
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "is_vip": {
                          "description": "VIP status of the Client booking the Reservation.",
                          "example": true,
                          "type": "boolean"
                        },
                        "last_name": {
                          "example": "Last name of the Client booking the Reservation.",
                          "type": "string"
                        },
                        "left_time": {
                          "description": "Local time the party left the Venue.",
                          "example": "9:45:00 PM",
                          "type": "string"
                        },
                        "loyalty_id": {
                          "example": "`loyalty_id` value from the Client entity associated with the Reservation.",
                          "type": "string"
                        },
                        "loyalty_rank": {
                          "example": "`loyalty_rank` value from the Client entity.",
                          "type": "integer"
                        },
                        "loyalty_tier": {
                          "description": "`loyalty_tier` value from the Client entity associated with the Reservation..",
                          "type": "string"
                        },
                        "max_guests": {
                          "description": "Number of people expected for the Reservation.",
                          "example": 6,
                          "type": "integer"
                        },
                        "mf_ratio_female": {
                          "description": "Number of females expected for the Reservation.",
                          "example": 2,
                          "type": "integer"
                        },
                        "mf_ratio_male": {
                          "description": "Number of males expected for the Reservation.",
                          "example": 2,
                          "type": "integer"
                        },
                        "min_price": {
                          "description": "Minimum price required for the Reservation.",
                          "example": 1500,
                          "type": "integer"
                        },
                        "modify_reservation_link": {
                          "description": "Link for client to modify a reservation",
                          "example": "https://sevenrooms.com/direct/modify-reservation/MzkyNDNlNjc2OTRlZThiN2I1ZmI3Y2U4MzFjNmUwZDRmYjlmZGUzZDqAAn1xAShVGGFjdHVhbF9jcmVhdGVkX3RpbWVzdGFtcHECVRExNTY3ODAxNjY0LjY4NzU2OVUJYWN0dWFsX2lkcQNVWGFoWnpmbk5sZG1WdWNtOXZiWE10YzJWamRYSmxMWEZoY2lnTEVodHVhV2RvZEd4dmIzQmZVbVZ6WlhKMllYUnBiMjVCWTNSMVlXd1lnSURRdjlxQXNnb01xBHUu",
                          "type": "string"
                        },
                        "notes": {
[...]
