{
  "openapi": "3.0.0",
  "info": {
    "title": "SevenRooms Concierge API",
    "description": "# Introduction\nThe SevenRooms Concierge API is a RESTful API over HTTPS that utilizes JSON as the data response format. It allows application developers to query for data and perform actions, such as booking a reservation.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "contact": {
      "name": "SevenRooms Support by Email",
      "email": "support@sevenrooms.com"
    },
    "termsOfService": "https://sevenrooms.com/en/terms-of-service",
    "license": {
      "name": "SevenRooms"
    },
    "version": "2.4"
  },
  "servers": [
    {
      "url": "https://demo.sevenrooms.com/api-ext/2_4",
      "description": "Demo"
    },
    {
      "url": "https://api.sevenrooms.com/2_4",
      "description": "US Production"
    },
    {
      "url": "https://api.eu.sevenrooms.com/2_4",
      "description": "EU Production"
    }
  ],
  "security": [
    {
      "ExternalAPIKeySecurity": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Auth Tags"
    },
    {
      "name": "Venues",
      "description": "Venue Tags"
    },
    {
      "name": "Availability",
      "description": "Availability Tags"
    },
    {
      "name": "Reservation Holds",
      "description": "Reservation Hold Tags"
    },
    {
      "name": "Reservation Requests",
      "description": "Reservation Request Tags"
    },
    {
      "name": "Reservations",
      "description": "Reservation Tags"
    },
    {
      "name": "Tags",
      "description": "Tag Tags"
    },
    {
      "name": "Experiences",
      "description": "Experience Tags"
    },
    {
      "name": "Charges",
      "description": "Charges Tags"
    },
    {
      "name": "Municipalities",
      "description": "Municipalities Tags"
    },
    {
      "name": "Perks",
      "description": "Perks Tags"
    },
    {
      "name": "Payments",
      "description": "Payments Tags"
    },
    {
      "name": "Paylinks",
      "description": "Paylinks"
    },
    {
      "name": "Upgrade Categories",
      "description": "Upgrade Category Tags"
    },
    {
      "name": "Upgrades",
      "description": "Upgrade Tags"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "create_auth_token",
        "security": [],
        "summary": "Create an API Authorization Token",
        "description": "Create an API Authorization Token for making requests to the SevenRooms Reservations API.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON object containing an Authorization token that expires after 24 hours.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AuthorizationResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "msg": {
                      "description": "Human‐readable message describing the response status.",
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "description": "Authentication token required to fulfill requests. Expires after 24 hours.",
                          "type": "string"
                        },
                        "token_expiration_datetime": {
                          "description": "Date/Time when the token will expire",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "msg": "Successfully authenticated.",
                  "status": 200,
                  "data": {
                    "token": "e179b0a6a6b293ef36972864ab0401c234e6524dce80d9f7235c64758dd6a69cd8d5d10aa0868faf8dd487c87ed12a308bdbed5aedf0f18327ab1b63a4060bdd",
                    "token_expiration_datetime": "2023-08-01T14:20:38.874800"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/begin_payment": {
      "post": {
        "summary": "Begin Payment",
        "description": "The `/begin_payment` endpoint is used when a customer is in the middle of the booking process that requires a prepayment guarantee. The `/begin_payment` endpoint will create the PaymentIntent on Stripe and fetches the PaymentIntent id and client_secret to be used together with your Stripe Publishable Key on the  moment of generating the credit card form using the Stripe SDK.",
        "operationId": "begin_payment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "concierge_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Concierge",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venue_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BeginPayment_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Object containing the setup intent information.\n",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "client_secret": "pi_1Dathw2eZvKYlo2CstYe1U4i_secret_1sBwqYIUWjiYtUqzAG4loDHyq",
                    "intent_id": "pi_1Dathw2eZvKYlo2CstYe1U4i"
                  },
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "client_secret": {
                          "example": "pi_1Dathw2eZvKYlo2CstYe1U4i_secret_1sBwqYIUWjiYtUqzAG4loDHyq",
                          "type": "string"
                        },
                        "intent_id": {
                          "example": "pi_1Dathw2eZvKYlo2CstYe1U4i",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "request_id": {
                      "default": "",
                      "example": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                      "type": "string"
                    },
                    "status": {
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/begin_save": {
      "post": {
        "summary": "Begin Save",
        "description": "The `begin_save` endpoint is used when a booking requires a credit card guarantee (save cared for later). The `begin_save` is used to  create the SetupIntent on Stripe and fetches the SetupIntent id and client_secret to be used together with SevenRooms Stripe Publishable Key to be used generating the credit card form using the Stripe SDK.",
        "operationId": "begin_save_payment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "concierge_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Concierge",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venue_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object containing the setup intent information.\n",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "client_secret": "pi_1Dathw2eZvKYlo2CstYe1U4i_secret_1sBwqYIUWjiYtUqzAG4loDHyq",
                    "intent_id": "pi_1Dathw2eZvKYlo2CstYe1U4i"
                  },
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "client_secret": {
                          "example": "pi_1Dathw2eZvKYlo2CstYe1U4i_secret_1sBwqYIUWjiYtUqzAG4loDHyq",
                          "type": "string"
                        },
                        "intent_id": {
                          "example": "pi_1Dathw2eZvKYlo2CstYe1U4i",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "request_id": {
                      "default": "",
                      "example": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                      "type": "string"
                    },
                    "status": {
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/municipalities": {
      "get": {
        "summary": "List Concierge Municipalities",
        "operationId": "get_concierge_municipalities",
        "tags": [
          "Municipalities"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path"
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing all available **municipality_id** values and their associated Municipality names that a Concierge has venues in.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetConciergeMunicipalitiesResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "[municipality_id]": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQhJao2AkM": "Istanbul",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQqdvynwgM": "Riverside County",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlchsLEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYAQw": "New York City",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwhbfIoggM": "Portland",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6YjAuQgM": "National Harbor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/municipalities": {
      "get": {
        "summary": "List all Municipalities",
        "operationId": "get_municipalities",
        "tags": [
          "Municipalities"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing all available **municipality_id** values and their associated Municipality names.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetMunicipalitiesResponse",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "[municipality_id]": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "data": {
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQhJao2AkM": "Istanbul",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQqdvynwgM": "Riverside County",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlchsLEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYAQw": "New York City",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwhbfIoggM": "Portland",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6YjAuQgM": "National Harbor",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICghJv9ogsM": "Dallas",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQ9Yjo-QoM": "Madrid",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6fWLgQoM": "Dublin",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwvoCntwsM": "Alberta",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDI19HG6goM": "Acapulco",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkY1fmUAQw": "Tampa",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwnpaIvQoM": "Monaco",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICIt9P97AoM": "Menton",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDAraiYggsM": "Cleveland",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQ_ei57QkM": "Bangalore",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw8Oi2ngoM": "Stamford",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQ7KHU8wsM": "Frankfurt",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYruzQWgw": "Paris",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQn9Ov6AkM": "Calgary",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAgNPnhAoM": "Taipei",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw8OiH1gsM": "Yonkers",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAmNKyuwgM": "Southampton",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYiIqoBAw": "Sacramento",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYpYKZAQw": "San Diego",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwzvujiQoM": "Barcelona",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDAze6LkwsM": "Detroit",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDI8anFnwgM": "Cancun",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwlM_avwoM": "Charleston",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw4_O9jgsM": "Perth",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwsebLkQoM": "Newport",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDI-b7ZoAoM": "Noord",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAgdnU0goM": "Toronto",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDg78Lj3QgM": "New Orleans",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICgiuWKxAsM": "Hong Kong",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQqen24woM": "Aspen",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw8KnJhwgM": "Armonk",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDgrav3pAoM": "Burbank",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQqeHlrwgM": "Richmond",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwy9LE5wsM": "Tucson",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwwrnymwsM": "Bahamas",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICIlfWA0wkM": "Glendale",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDA_KuQrwsM": "Dubai",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICg8LSQ0QsM": "Singapore",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw97GAmwgM": "La Barra",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6f_00QkM": "Lake Como",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwrJfjzwgM": "Costa Mesa",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICI9sTJvgsM": "Chennai",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ2dfkzwgM": "Honolulu",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQxdPlwggM": "Verona",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw2bWZpQoM": "Seattle",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQ_YfeuQsM": "New Delhi",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQmfGVxwoM": "Baltimore",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw5ZeriQsM": "Hollywood",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICg5eKxiQkM": "Doha",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQvbD76gsM": "Mumbai",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwza6j0woM": "Amsterdam",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICIkLL7twsM": "Burnaby",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQ7Oz72gkM": "Shanghai",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDg9ojrsAkM": "Spain",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDgt_-rlAoM": "Bangkok",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw-fjfsgkM": "Nashville",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAzPHZ_QoM": "Montauk",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkY741RDA": "London",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQmdvz4woM": "Phoenix",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDA_rCK-gkM": "Atlanta",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkY6KR8DA": "Las Vegas",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICgromtywsM": "Pittsburgh",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICgnrCc5QsM": "Sarasota",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYn4g2DA": "Miami",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQmcqXsgoM": "Jacksonville",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw97THtwsM": "Bedford",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwkL3DxgsM": "Roslyn",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAoOLC4goM": "Vancouver",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwk_6UxAkM": "New Brunswick",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw48W3vAgM": "Bernardsville",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYy8rxAgw": "Scottsdale",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQvdyynAkM": "Kolkata",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwiPDiigoM": "Rye Brook",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDAm53WtAoM": "New Jersey",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw1KW7lwsM": "Modena",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwzp2y7QoM": "Kuala Lumpur",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDg1Zic9AgM": "Ibiza",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQ9p_SiAoM": "São Paulo",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYy_W9CAw": "Atlantic City",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDg-IX5vAoM": "Sydney",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICg3pKutQkM": "Daytona Beach",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwxaf5pQgM": "Brooklyn",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDIiYqT9wkM": "Monterrey",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDIwffImgkM": "Burlington",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQuZLH5wkM": "Brisbane",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw2dCHpgkM": "Kuwait",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6ZSrngkM": "Orange County",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ2ZL2jwsM": "Plano",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwn6H_lQkM": "Cherry Hill",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkY1aRxDA": "Boston",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYxtotDA": "Los Angeles",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDIx8f86goM": "Weston",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkY_sB4DA": "San Francisco",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICo_JPguQkM": "Cannes - CENTURION Pop-Up Only",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICgsOHgrQsM": "Newport",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwn_qboQoM": "Lima",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw5c_H-goM": "Helsinki",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwsOTnrAgM": "Frisco",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6crH-QoM": "Columbus",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw_5GMoggM": "Copenhagen",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwoNL15ggM": "Nassau",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAt6qXnwkM": "Denver",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ2c6MzAsM": "Orlando",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw9tz-hwsM": "Venice",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw47SfsQoM": "Spokane",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQwqyzvwsM": "St. Barths",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw_s3YmwkM": "Saudi Arabia",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw8LC1zAoM": "Bellevue",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICA35bsnQsM": "Philadelphia",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6bXSuggM": "Fort Myers",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDgubTS8wgM": "Rome",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw_NGpzwgM": "Macau",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDA2Z3fhAgM": "Houston",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQmr2-wAgM": "St. Tropez",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQmafG3QgM": "Monterey",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwuKb2vwgM": "Deerfield Beach",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwi-uXwwkM": "Fort Worth",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQmY67xgsM": "San Juan",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDgtsnVzAoM": "Girona",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwpfXZ2QkM": "Milan",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICAoMLd7woM": "Washington DC",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw9b_5yQgM": "Tel Aviv",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch4LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYnKKnCAw": "Charlotte",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwu8mh6QgM": "Tulum",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICg0L69ogsM": "Pasadena",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6fi-9QgM": "Akron",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw-vLd9wgM": "Mexico City",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ0MCllgoM": "Abu Dhabi",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6bCQuAkM": "Chandler",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQnreZ0QgM": "Rio de Janeiro ",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw7puxgwoM": "Geneva",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICoosLduAkM": "Hamburg",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICorrCE6QgM": "Düsseldorf",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6a61kAgM": "Chagrin Falls",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICo6trg6QgM": "Sicily",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYuM19DA": "Santa Barbara",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDwr6broAoM": "King of Prussia",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICgivK10QgM": "Montreal",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6aqa4gkM": "Moreland Hills",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw356nogsM": "Mclean",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDAwer2lwgM": "Berlin",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDI7vXM3goM": "Melbourne",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDgnbTp0woM": "Napa Valley",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw8ZqCiwsM": "Whistler",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDIicHzvwgM": "Guanajuato",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlch0LEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYr8FrDA": "Chicago",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDAsILCjwkM": "Park City",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICw7pSl3gkM": "Tokyo",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDw8OPMvAsM": "Aventura",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgIDQvOSbgwoM": "Stockholm",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICg0Y6UmggM": "Maryland",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICIy6mPiwgM": "West Palm Beach",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICQ6YmC8ggM": "Hackensack",
                    "ahNzfnNldmVucm9vbXMtc2VjdXJlciILEhVsb2NhdGlvbl9NdW5pY2lwYWxpdHkYgICwsYKd2wkM": "Prague"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/venues/{venue_id}/payments/paylink/{reservation_id}": {
      "post": {
        "summary": "Create paylink",
        "description": "Use this endpoint to create a paylink. Paylink can be used for instant charge and for saving client's card for later payments.",
        "operationId": "create_paylink",
        "tags": [
          "Paylinks"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservation_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Reservation.\n\n**Note:** The Reservation's `reference_code` can be used in place of the Reservation's `id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaylink_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Object containing paylink information.",
            "content": {
              "application/json": {
                "example": {
                  "gratuity_amount": 0,
                  "gratuity_type": null,
                  "id": "ahZzfnNldmVucEhFzcl9CaWxsaW5nSGlzdG9ym9vbXMtc2VjdXJlLXFhch4LeRiAgLjP-pLiYCAw",
                  "note_to_guest": "",
                  "paylink_auto_cancel_minutes": null,
                  "paylink_email_request": "",
                  "service_charge_amount": 0,
                  "subtotal": 0,
                  "tax_amount": 0,
                  "type": "charge"
                },
                "schema": {
                  "properties": {
                    "gratuity_amount": {
                      "example": 0,
                      "type": "integer"
                    },
                    "gratuity_type": {
                      "enum": [
                        "gratuity_percentage",
                        "none",
                        "require_client_select_charge",
                        "client_select_gratuity"
                      ],
                      "type": "string"
                    },
                    "id": {
                      "example": "ahZzfnNldmVucEhFzcl9CaWxsaW5nSGlzdG9ym9vbXMtc2VjdXJlLXFhch4LeRiAgLjP-pLiYCAw",
                      "type": "string"
                    },
                    "note_to_guest": {
                      "example": "",
                      "type": "string"
                    },
                    "paylink_auto_cancel_minutes": {
                      "type": "integer"
                    },
                    "paylink_email_request": {
                      "example": "",
                      "type": "string"
                    },
                    "service_charge_amount": {
                      "example": 0,
                      "type": "integer"
                    },
                    "subtotal": {
                      "example": 0,
                      "type": "integer"
                    },
                    "tax_amount": {
                      "example": 0,
                      "type": "integer"
                    },
                    "type": {
                      "enum": [
                        "charge",
                        "collect"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/venues/{venue_id}/payments/paylinks/{reservation_id}": {
      "get": {
        "summary": "List paylinks",
        "description": "Shows the list of created paylinks for the reservation.",
        "operationId": "list_paylinks",
        "tags": [
          "Paylinks"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservation_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Reservation.\n\n**Note:** The Reservation's `reference_code` can be used in place of the Reservation's `id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object containing the list of created paylinks for the reservation.",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "gratuity_amount": 0,
                      "gratuity_type": null,
                      "note_to_guest": "",
                      "paylink_email_request": "",
                      "service_charge_amount": 0,
                      "subtotal": 0,
                      "tax_amount": 0,
                      "type": "charge"
                    }
                  ],
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "gratuity_amount": {
                            "example": 0,
                            "type": "integer"
                          },
                          "gratuity_type": {
                            "enum": [
                              "gratuity_percentage",
                              "none",
                              "require_client_select_charge",
                              "client_select_gratuity"
                            ],
                            "type": "string"
                          },
                          "note_to_guest": {
                            "example": "",
                            "type": "string"
                          },
                          "paylink_email_request": {
                            "example": "",
                            "type": "string"
                          },
                          "service_charge_amount": {
                            "example": 0,
                            "type": "integer"
                          },
                          "subtotal": {
                            "example": 0,
                            "type": "integer"
                          },
                          "tax_amount": {
                            "example": 0,
                            "type": "integer"
                          },
                          "type": {
                            "enum": [
                              "charge",
                              "collect"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "request_id": {
                      "default": "",
                      "example": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                      "type": "string"
                    },
                    "status": {
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/venues/{venue_id}/payments/paylink/{paylink_id}": {
      "delete": {
        "summary": "Delete Paylink",
        "description": "",
        "operationId": "delete_paylink",
        "tags": [
          "Paylinks"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paylink_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty object if OK."
          }
        }
      }
    },
    "/concierge/{concierge_id}/venues/{venue_id}/calculate_prices": {
      "post": {
        "summary": "Calculate Reservation Price",
        "description": "This endpoint calculates the prices associated with a reservation, including upsells if an integrator wants to incorporate that.",
        "operationId": "calculate_prices",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "concierge_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Concierge",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CalculateReservationPrice_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Object containing pricing information for the reservation. WARNING - The SevenRooms Reservations API is a dynamic JSON API, any response field may contain a null value.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "access_persistent_id": "ahZzfnNldmVkjf9vbXMtc2VjdXJlLXFhchwLEg9uaWasdJKLh8VmVudWUYgIC4lqPdrwoM-1727745048.09588-0.2835840305830584",
                    "apply_gratuity_charge": true,
                    "apply_service_charge": false,
                    "cc_payment_rule": "advanced_payment",
                    "charge_type": "person",
                    "gratuity_type": "SPECIFIC_GRATUITY",
                    "party_size": 2,
                    "require_credit_card": true,
                    "reservation_gratuity": 2,
                    "reservation_service_charge": 0,
                    "reservation_subtotal": 20,
                    "service_charge_type": "DEFAULT_SERVICE_CHARGE",
                    "total_costs": {
                      "gratuity": 2,
                      "reservation_subtotal": 20,
                      "service_charge": 0,
                      "tax": 0,
                      "total_spend": 37,
                      "upgrade_cost": 15
                    },
                    "upsells": [
                      {
                        "base_price": 15,
                        "category": "Starters",
                        "category_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGxvb3BfVmVudWUYgIC4lqPdrwoMCxIRc3JfVXBzZWxsQ2F0ZWdvcnkYgIC468OP2AsM",
                        "description": "Yummy meats and cheeses with jam",
                        "gratuity": 0,
                        "gratuity_pct": 0,
                        "maximum_quantity_allowed": 10,
                        "minimum_quantity_required": null,
                        "name": "Charcuterie",
                        "quantity": 1,
                        "service_charge": 0,
                        "service_charge_pct": 0,
                        "subtotal": 15,
                        "tags": {},
                        "tax": 0,
                        "tax_pct": 0,
                        "total_cost": 15,
                        "total_upgrade_cost": 15,
                        "upgrade_gratuity": 0,
                        "upgrade_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhckMLEg9uaWdodGxIac3JfVXBzZWxsQ2F0ZWdvcnlJbnZlbnRvcnkYgIC4l",
                        "upgrade_price": 15,
                        "upgrade_service_charge": 0,
                        "upgrade_service_charge_tax": 0,
                        "upgrade_tax": 0
                      }
                    ]
                  },
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "access_persistent_id": {
                          "example": "ahZzfnNldmVkjf9vbXMtc2VjdXJlLXFhchwLEg9uaWasdJKLh8VmVudWUYgIC4lqPdrwoM-1727745048.09588-0.2835840305830584",
                          "type": "string"
                        },
                        "apply_gratuity_charge": {
                          "example": true,
                          "type": "boolean"
                        },
                        "apply_service_charge": {
                          "example": false,
                          "type": "boolean"
                        },
                        "cc_payment_rule": {
                          "example": "advanced_payment",
                          "type": "string"
                        },
                        "charge_type": {
                          "example": "person",
                          "type": "string"
                        },
                        "gratuity_type": {
                          "example": "SPECIFIC_GRATUITY",
                          "type": "string"
                        },
                        "party_size": {
                          "example": 2,
                          "type": "integer"
                        },
                        "require_credit_card": {
                          "example": true,
                          "type": "boolean"
                        },
                        "reservation_gratuity": {
                          "example": 2,
                          "type": "number"
                        },
                        "reservation_service_charge": {
                          "example": 0,
                          "type": "number"
                        },
                        "reservation_subtotal": {
                          "example": 20,
                          "type": "number"
                        },
                        "service_charge_type": {
                          "example": "DEFAULT_SERVICE_CHARGE",
                          "type": "string"
                        },
                        "total_costs": {
                          "properties": {
                            "gratuity": {
                              "example": 2,
                              "type": "number"
                            },
                            "reservation_subtotal": {
                              "example": 20,
                              "type": "number"
                            },
                            "service_charge": {
                              "example": 0,
                              "type": "number"
                            },
                            "tax": {
                              "example": 0,
                              "type": "number"
                            },
                            "total_spend": {
                              "example": 37,
                              "type": "number"
                            },
                            "upgrade_cost": {
                              "example": 15,
                              "type": "number"
                            }
                          },
                          "type": "object"
                        },
                        "upsells": {
                          "items": {
                            "properties": {
                              "base_price": {
                                "example": 15,
                                "type": "number"
                              },
                              "category": {
                                "example": "Starters",
                                "type": "string"
                              },
                              "category_id": {
                                "example": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGxvb3BfVmVudWUYgIC4lqPdrwoMCxIRc3JfVXBzZWxsQ2F0ZWdvcnkYgIC468OP2AsM",
                                "type": "string"
                              },
                              "description": {
                                "example": "Yummy meats and cheeses with jam",
                                "type": "string"
                              },
                              "gratuity": {
                                "example": 0,
                                "type": "number"
                              },
                              "gratuity_pct": {
                                "example": 0,
                                "type": "number"
                              },
                              "maximum_quantity_allowed": {
                                "default": 10,
                                "type": "integer"
                              },
                              "minimum_quantity_required": {
                                "type": "integer"
                              },
                              "name": {
                                "example": "Charcuterie",
                                "type": "string"
                              },
                              "quantity": {
                                "example": 1,
                                "type": "number"
                              },
                              "service_charge": {
                                "example": 0,
                                "type": "number"
                              },
                              "service_charge_pct": {
                                "example": 0,
                                "type": "number"
                              },
                              "subtotal": {
                                "example": 15,
                                "type": "number"
                              },
                              "tags": {
                                "example": {},
                                "type": "null"
                              },
                              "tax": {
                                "example": 0,
                                "type": "number"
                              },
                              "tax_pct": {
                                "example": 0,
                                "type": "number"
                              },
                              "total_cost": {
                                "example": 15,
                                "type": "number"
                              },
                              "total_upgrade_cost": {
                                "example": 15,
                                "type": "number"
                              },
                              "upgrade_gratuity": {
                                "example": 0,
                                "type": "number"
                              },
                              "upgrade_id": {
                                "example": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhckMLEg9uaWdodGxIac3JfVXBzZWxsQ2F0ZWdvcnlJbnZlbnRvcnkYgIC4l",
                                "type": "string"
                              },
                              "upgrade_price": {
                                "example": 15,
                                "type": "number"
                              },
                              "upgrade_service_charge": {
                                "example": 0,
                                "type": "number"
                              },
                              "upgrade_service_charge_tax": {
                                "example": 0,
                                "type": "number"
                              },
                              "upgrade_tax": {
                                "example": 0,
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "request_id": {
                      "default": "",
                      "example": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                      "type": "string"
                    },
                    "status": {
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge/{concierge_id}/venues/{venue_id}/book": {
      "put": {
        "summary": "Create or Update a Reservation",
        "description": "Book or Update a reservation at a Venue by a given Venue ID. When updating a reservation, a valid `reservation_id` is required.",
        "operationId": "create_or_update_reservation",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "concierge_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Concierge",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the Venue.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateReservation_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Object containing the GUID of the created or updated Reservation.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "paylink_auto_cancel": {
                      "gratuity_amount": 2,
                      "gratuity_type": "gratuity_percentage",
                      "id": "ahZzfnNldmVucEhFzcl9CaWxsaW5nSGlzdG9ym9vbXMtc2VjdXJlLXFhch4LeRiAgLjP-pLiYCAw",
                      "link": "https://sevenrooms.com/paylink/wine-bar-sr/4612545281086719",
                      "note_to_guest": "Paylink note",
                      "paylink_auto_cancel_minutes": 15,
                      "paylink_email_request": null,
                      "service_charge_amount": 0,
                      "subtotal": 3500,
                      "tax_amount": 0,
                      "type": "charge"
                    },
                    "request_id": null,
                    "reservation_id": null,
                    "upgrades": [
                      {
                        "quantity": null,
                        "upgrade_id": null
                      }
                    ]
                  },
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "paylink_auto_cancel": {
                          "properties": {
                            "gratuity_amount": {
                              "example": 2,
                              "type": "integer"
                            },
                            "gratuity_type": {
                              "example": "gratuity_percentage",
                              "type": "string"
                            },
                            "id": {
                              "example": "ahZzfnNldmVucEhFzcl9CaWxsaW5nSGlzdG9ym9vbXMtc2VjdXJlLXFhch4LeRiAgLjP-pLiYCAw",
                              "type": "string"
                            },
                            "link": {
                              "example": "https://sevenrooms.com/paylink/wine-bar-sr/4612545281086719",
                              "type": "string"
                            },
                            "note_to_guest": {
                              "example": "Paylink note",
                              "type": "string"
                            },
                            "paylink_auto_cancel_minutes": {
                              "example": 15,
                              "type": "integer"
                            },
                            "paylink_email_request": {
                              "description": "",
                              "type": "string"
                            },
                            "service_charge_amount": {
                              "example": 0,
                              "type": "integer"
                            },
                            "subtotal": {
                              "example": 3500,
                              "type": "integer"
                            },
                            "tax_amount": {
                              "example": 0,
                              "type": "integer"
                            },
                            "type": {
                              "example": "charge",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "reservation_id": {
                          "type": "string"
                        },
                        "upgrades": {
                          "items": {
                            "properties": {
                              "quantity": {
                                "type": "integer"
                              },
                              "upgrade_id": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "request_id": {
                      "default": "",
                      "example": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                      "type": "string"
                    },
                    "status": {
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge_group/{concierge_group_id}/reservations": {
      "get": {
        "summary": "Search Reservations",
        "description": "Search Reservations by a given Concierge Group ID and an optional Concierge ID.",
        "operationId": "search_reservations",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "concierge_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "concierge_id",
            "in": "query",
            "required": false,
            "description": "Unique identifier of the Concierge",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "Beginning date for date range filtering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "description": "End date for date range filtering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Full name of the Client.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `cursor` field can be used to get multiple pages based on the limit (max of 400). If there are more than the limit of results then the response will include the field `cursor`. \n\nThe subsequent call will include the cursor field and SevenRooms responds with the next iteration of results and so on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object containing a list of Reservations.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "cursor": null,
                    "limit": 50,
                    "results": [
                      {
                        "arrival_time": "7:00 PM",
                        "booked_by": "Docs Concierge Group Demo API",
                        "booking_policy": "Thank you for your reservation. Should your plans change, please let us know 24 hours before your reservation time. We look forward to serving you.",
                        "cancellation_policy": "We ask that any cancellation to your reservation be made no less than 24 hours prior.",
                        "check_numbers": null,
                        "client_requests": "Please set up baby seat",
                        "concierge_group_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHgsSEXNyX0NvbmNpZXJnZUdyb3VwGICA0Nqqy9EJDA",
                        "concierge_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIAsSE25pZ2h0bG9vcF9Db25jaWVyZ2UYgIDQ",
                        "cost_option": 0,
                        "created": "2019-04-11T21:30:34.703907",
                        "date": "2019-04-12",
                        "deleted": null,
                        "email": "jsnow@srdemo.com",
                        "external_id": "ext_id_ex_543",
                        "first_name": "Jon",
                        "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIgsSFW5pZ2h0bG9vcF9SZXNlcnZhdGlvbhiAgNCa5ejgCgw",
                        "internal_status": "",
                        "internal_status_display": "",
                        "internal_status_simple": "",
                        "last_name": "Snow",
                        "max_guests": 2,
                        "mf_ratio_female": 0,
                        "mf_ratio_male": 0,
                        "min_price": null,
                        "onsite_payment": null,
                        "onsite_payment_gratuity": null,
                        "onsite_payment_net": null,
                        "onsite_payment_tax": null,
                        "onsite_payment_total": null,
                        "perks": {},
                        "phone_number": "212-555-7056",
                        "prepayment": 22,
                        "prepayment_gratuity": 2,
                        "prepayment_net": 20,
                        "prepayment_service_charge": null,
                        "prepayment_tax": null,
                        "prepayment_total": 22,
                        "real_datetime_of_slot": "2019-04-12 19:00:00",
                        "reference_code": "I9YJ5HC",
                        "request_id": null,
                        "status": "Reserved",
                        "status_code": "RESERVED",
                        "status_display": "",
                        "status_simple": "",
                        "table_numbers": null,
                        "time_slot_iso": "19:00:00",
                        "total_net_payment": null,
                        "total_payment": null,
                        "updated": "2019-04-11T21:30:34.704931",
                        "upgrades": [
                          {
                            "category": {
                              "gratuity_percentage": "",
                              "is_charging_gratuity": "",
                              "is_charging_service_charge": "",
                              "is_charging_tax": "",
                              "max_quantity": "",
                              "max_quantity_type": "",
                              "min_quantity": "",
                              "min_quantity_type": "",
                              "name": "",
                              "service_charge_percentage": "",
                              "service_charge_type": "",
                              "tax_group_id": ""
                            },
                            "category_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGoMCxIRc3JfVXBzZWxsQ2F0ZWdvcnk-YgIC468OP",
                            "inventory_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhckMLEg9uaWdodGxIac3JfVXBzZWxsQ2F0ZWdvcnlJbnZlbnRvcnkYgIC4l",
                            "name": "Charcuterie",
                            "pos_item_id": null,
                            "price": 1500,
                            "quantity": 1
                          }
                        ],
                        "user": {
                          "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yFQsSCGdhZV9Vc2VyGICA0JqHjagLDA",
                          "name": "Docs Concierge Group Demo API"
                        },
                        "venue_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHAsSD25pZ2h0bG9vcF9WZW51ZRiAgNCKuYezCgw"
                      }
                    ]
                  },
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "cursor": {
                          "type": "integer"
                        },
                        "limit": {
                          "example": 50,
                          "type": "integer"
                        },
                        "results": {
                          "default": [],
                          "items": {
                            "properties": {
                              "arrival_time": {
                                "example": "7:00 PM",
                                "type": "string"
                              },
                              "booked_by": {
                                "example": "Docs Concierge Group Demo API",
                                "type": "string"
                              },
                              "booking_policy": {
                                "description": "Returned only when a reservation has been made/confirmed. Booking policy should match what is expected based on the access rule setup. Could be set to the default venue policy, could be a custom policy, or if GFL, could be a policy from the policy bank.",
                                "example": "Thank you for your reservation. Should your plans change, please let us know 24 hours before your reservation time. We look forward to serving you.",
                                "type": "string"
                              },
                              "cancellation_policy": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "example": "We ask that any cancellation to your reservation be made no less than 24 hours prior.",
                                "type": "string"
                              },
                              "check_numbers": {
                                "description": "Returned only when include_check_numbers is checked in the Concierge's API settings",
                                "type": "number"
                              },
                              "client_requests": {
                                "example": "Please set up baby seat",
                                "type": "string"
                              },
                              "concierge_group_id": {
                                "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHgsSEXNyX0NvbmNpZXJnZUdyb3VwGICA0Nqqy9EJDA",
                                "type": "string"
                              },
                              "concierge_id": {
                                "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIAsSE25pZ2h0bG9vcF9Db25jaWVyZ2UYgIDQ",
                                "type": "string"
                              },
                              "cost_option": {
                                "example": 0,
                                "type": "integer"
                              },
                              "created": {
                                "example": "2019-04-11T21:30:34.703907",
                                "type": "string"
                              },
                              "date": {
                                "example": "2019-04-12",
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "email": {
                                "example": "jsnow@srdemo.com",
                                "type": "string"
                              },
                              "external_id": {
                                "description": "Concierge external ID",
                                "example": "ext_id_ex_543",
                                "type": "string"
                              },
                              "first_name": {
                                "example": "Jon",
                                "type": "string"
                              },
                              "id": {
                                "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIgsSFW5pZ2h0bG9vcF9SZXNlcnZhdGlvbhiAgNCa5ejgCgw",
                                "type": "string"
                              },
                              "internal_status": {
                                "example": "",
                                "type": "string"
                              },
                              "internal_status_display": {
                                "example": "",
                                "type": "string"
                              },
                              "internal_status_simple": {
                                "example": "",
                                "type": "string"
                              },
                              "last_name": {
                                "example": "Snow",
                                "type": "string"
                              },
                              "max_guests": {
                                "example": 2,
                                "type": "integer"
                              },
                              "mf_ratio_female": {
                                "example": 0,
                                "type": "integer"
                              },
                              "mf_ratio_male": {
                                "example": 0,
                                "type": "integer"
                              },
                              "min_price": {
                                "type": "integer"
                              },
                              "onsite_payment": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "onsite_payment_gratuity": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "onsite_payment_net": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "onsite_payment_tax": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "onsite_payment_total": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "perks": {
                                "example": {},
                                "type": "null"
                              },
                              "phone_number": {
                                "example": "212-555-7056",
                                "type": "string"
                              },
                              "prepayment": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "example": 22,
                                "type": "number"
                              },
                              "prepayment_gratuity": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "example": 2,
                                "type": "number"
                              },
                              "prepayment_net": {
                                "example": 20,
                                "type": "number"
                              },
                              "prepayment_service_charge": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "prepayment_tax": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "prepayment_total": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "example": 22,
                                "type": "number"
                              },
                              "real_datetime_of_slot": {
                                "description": "If after midnight for a venue with a 6am “Start of Day” this field would have a date of date+1 compared to the date searched",
                                "example": "2019-04-12 19:00:00",
                                "type": "string"
                              },
                              "reference_code": {
                                "example": "I9YJ5HC",
                                "type": "string"
                              },
                              "request_id": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "string"
                              },
                              "status": {
                                "description": "The Reservation''s current status. Can be one of the following values (''On the Books'', ''Canceled'', ''No Show'', or ''Complete'').",
                                "example": "Reserved",
                                "type": "string"
                              },
                              "status_code": {
                                "description": "The Reservation''s current status. Can be one of the following values (''RESERVED'', ''CANCELED'', ''NO_SHOW'', or ''COMPLETE'').",
                                "example": "RESERVED",
                                "type": "string"
                              },
                              "status_display": {
                                "example": "",
                                "type": "string"
                              },
                              "status_simple": {
                                "example": "",
                                "type": "string"
                              },
                              "table_numbers": {
                                "description": "Returned only when include_table_numbers is checked in the Concierge's API settings",
                                "type": "string"
                              },
                              "time_slot_iso": {
                                "description": "The time in iso format(ie 21:00:00)",
                                "example": "19:00:00",
                                "type": "string"
                              },
                              "total_net_payment": {
                                "description": "Returned only when include_total_spend is checked in the Concierge's API settings",
                                "type": "number"
                              },
                              "total_payment": {
                                "description": "Returned only when a reservation has been made/confirmed",
                                "type": "number"
                              },
                              "updated": {
                                "example": "2019-04-11T21:30:34.704931",
                                "type": "string"
                              },
                              "upgrades": {
                                "items": {
                                  "properties": {
                                    "category": {
                                      "properties": {
                                        "gratuity_percentage": {
                                          "example": "",
                                          "type": "integer"
                                        },
                                        "is_charging_gratuity": {
                                          "example": "",
                                          "type": "boolean"
                                        },
                                        "is_charging_service_charge": {
                                          "example": "",
                                          "type": "boolean"
                                        },
                                        "is_charging_tax": {
                                          "example": "",
                                          "type": "boolean"
                                        },
                                        "max_quantity": {
                                          "example": "",
                                          "type": "integer"
                                        },
                                        "max_quantity_type": {
                                          "example": "",
                                          "type": "string"
                                        },
                                        "min_quantity": {
                                          "example": "",
                                          "type": "integer"
                                        },
                                        "min_quantity_type": {
                                          "example": "",
                                          "type": "string"
                                        },
                                        "name": {
                                          "example": "",
                                          "type": "string"
                                        },
                                        "service_charge_percentage": {
                                          "example": "",
                                          "type": "integer"
                                        },
                                        "service_charge_type": {
                                          "example": "",
                                          "type": "string"
                                        },
                                        "tax_group_id": {
                                          "example": "",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "category_id": {
                                      "example": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGoMCxIRc3JfVXBzZWxsQ2F0ZWdvcnk-YgIC468OP",
                                      "type": "string"
                                    },
                                    "inventory_id": {
                                      "example": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhckMLEg9uaWdodGxIac3JfVXBzZWxsQ2F0ZWdvcnlJbnZlbnRvcnkYgIC4l",
                                      "type": "string"
                                    },
                                    "name": {
                                      "example": "Charcuterie",
                                      "type": "string"
                                    },
                                    "pos_item_id": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "description": "Price in cents",
                                      "example": 1500,
                                      "type": "integer"
                                    },
                                    "quantity": {
                                      "example": 1,
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "user": {
                                "example": {
                                  "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yFQsSCGdhZV9Vc2VyGICA0JqHjagLDA",
                                  "name": "Docs Concierge Group Demo API"
                                },
                                "type": "object"
                              },
                              "venue_id": {
                                "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHAsSD25pZ2h0bG9vcF9WZW51ZRiAgNCKuYezCgw",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "request_id": {
                      "default": "",
                      "example": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                      "type": "string"
                    },
                    "status": {
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/concierge_group/{concierge_group_id}/reservations/{reservation_id}": {
      "get": {
        "summary": "Get a Reservation (Concierge Group)",
        "description": "Get a Reservation by a given Concierge Group ID ID and Reservation ID. The Reservation ID provided can be the SevenRooms generated Reservation ID or the External ID attached to the Reservation.",
        "operationId": "get_concierge_group_reservation",
        "tags": [
          "Reservations"
        ],
        "security": [
          {
            "ExternalAPIKeySecurity": []
          }
        ],
        "parameters": [
          {
            "name": "concierge_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservation_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the Reservation.\n\n**Note:** The Reservation's `reference_code` can be used in place of the Reservation's `id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object containing a Reservation.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "arrival_time": "7:00 PM",
                    "booked_by": "Docs Concierge Group Demo API",
                    "booking_policy": "Thank you for your reservation. Should your plans change, please let us know 24 hours before your reservation time. We look forward to serving you.",
                    "cancellation_policy": "We ask that any cancellation to your reservation be made no less than 24 hours prior.",
                    "check_numbers": null,
                    "client_requests": "Please set up baby seat",
                    "concierge_group_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHgsSEXNyX0NvbmNpZXJnZUdyb3VwGICA0Nqqy9EJDA",
                    "concierge_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIAsSE25pZ2h0bG9vcF9Db25jaWVyZ2UYgIDQ",
                    "cost_option": 0,
                    "created": "2019-04-11T21:30:34.703907",
                    "date": "2019-04-12",
                    "deleted": null,
                    "email": "jsnow@srdemo.com",
                    "external_id": "ext_id_ex_543",
                    "first_name": "Jon",
                    "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIgsSFW5pZ2h0bG9vcF9SZXNlcnZhdGlvbhiAgNCa5ejgCgw",
                    "internal_status": "",
                    "internal_status_display": "",
                    "internal_status_simple": "",
                    "last_name": "Snow",
                    "max_guests": 2,
                    "mf_ratio_female": 0,
                    "mf_ratio_male": 0,
                    "min_price": null,
                    "onsite_payment": null,
                    "onsite_payment_gratuity": null,
                    "onsite_payment_net": null,
                    "onsite_payment_tax": null,
                    "onsite_payment_total": null,
                    "perks": {},
                    "phone_number": "212-555-7056",
                    "prepayment": 22,
                    "prepayment_gratuity": 2,
                    "prepayment_net": 20,
                    "prepayment_service_charge": null,
                    "prepayment_tax": null,
                    "prepayment_total": 22,
                    "real_datetime_of_slot": "2019-04-12 19:00:00",
                    "reference_code": "I9YJ5HC",
                    "request_id": null,
                    "status": "Reserved",
                    "status_code": "RESERVED",
                    "status_display": "",
                    "status_simple": "",
                    "table_numbers": null,
                    "time_slot_iso": "19:00:00",
                    "total_net_payment": null,
                    "total_payment": null,
                    "updated": "2019-04-11T21:30:34.704931",
                    "upgrades": [
                      {
                        "category": {
                          "gratuity_percentage": "",
                          "is_charging_gratuity": "",
                          "is_charging_service_charge": "",
                          "is_charging_tax": "",
                          "max_quantity": "",
                          "max_quantity_type": "",
                          "min_quantity": "",
                          "min_quantity_type": "",
                          "name": "",
                          "service_charge_percentage": "",
                          "service_charge_type": "",
                          "tax_group_id": ""
                        },
                        "category_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhcjoLEg9uaWdodGoMCxIRc3JfVXBzZWxsQ2F0ZWdvcnk-YgIC468OP",
                        "inventory_id": "ahZzfnNldmVucm9vbXMtc2VjdXJlLXFhckMLEg9uaWdodGxIac3JfVXBzZWxsQ2F0ZWdvcnlJbnZlbnRvcnkYgIC4l",
                        "name": "Charcuterie",
                        "pos_item_id": null,
                        "price": 1500,
                        "quantity": 1
                      }
                    ],
                    "user": {
                      "id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yFQsSCGdhZV9Vc2VyGICA0JqHjagLDA",
                      "name": "Docs Concierge Group Demo API"
                    },
                    "venue_id": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHAsSD25pZ2h0bG9vcF9WZW51ZRiAgNCKuYezCgw"
                  },
                  "request_id": "1733760284.46b53f9c-bb44-40f6-843a-86bdd2944161",
                  "status": 200
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "arrival_time": {
                          "example": "7:00 PM",
                          "type": "string"
                        },
                        "booked_by": {
                          "example": "Docs Concierge Group Demo API",
                          "type": "string"
                        },
                        "booking_policy": {
                          "description": "Returned only when a reservation has been made/confirmed. Booking policy should match what is expected based on the access rule setup. Could be set to the default venue policy, could be a custom policy, or if GFL, could be a policy from the policy bank.",
                          "example": "Thank you for your reservation. Should your plans change, please let us know 24 hours before your reservation time. We look forward to serving you.",
                          "type": "string"
                        },
                        "cancellation_policy": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "example": "We ask that any cancellation to your reservation be made no less than 24 hours prior.",
                          "type": "string"
                        },
                        "check_numbers": {
                          "description": "Returned only when include_check_numbers is checked in the Concierge's API settings",
                          "type": "number"
                        },
                        "client_requests": {
                          "example": "Please set up baby seat",
                          "type": "string"
                        },
                        "concierge_group_id": {
                          "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yHgsSEXNyX0NvbmNpZXJnZUdyb3VwGICA0Nqqy9EJDA",
                          "type": "string"
                        },
                        "concierge_id": {
                          "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIAsSE25pZ2h0bG9vcF9Db25jaWVyZ2UYgIDQ",
                          "type": "string"
                        },
                        "cost_option": {
                          "example": 0,
                          "type": "integer"
                        },
                        "created": {
                          "example": "2019-04-11T21:30:34.703907",
                          "type": "string"
                        },
                        "date": {
                          "example": "2019-04-12",
                          "type": "string"
                        },
                        "deleted": {
                          "type": "boolean"
                        },
                        "email": {
                          "example": "jsnow@srdemo.com",
                          "type": "string"
                        },
                        "external_id": {
                          "description": "Concierge external ID",
                          "example": "ext_id_ex_543",
                          "type": "string"
                        },
                        "first_name": {
                          "example": "Jon",
                          "type": "string"
                        },
                        "id": {
                          "example": "ahhzfnNldmVucm9vbXMtc2VjdXJlLWRlbW9yIgsSFW5pZ2h0bG9vcF9SZXNlcnZhdGlvbhiAgNCa5ejgCgw",
                          "type": "string"
                        },
                        "internal_status": {
                          "example": "",
                          "type": "string"
                        },
                        "internal_status_display": {
                          "example": "",
                          "type": "string"
                        },
                        "internal_status_simple": {
                          "example": "",
                          "type": "string"
                        },
                        "last_name": {
                          "example": "Snow",
                          "type": "string"
                        },
                        "max_guests": {
                          "example": 2,
                          "type": "integer"
                        },
                        "mf_ratio_female": {
                          "example": 0,
                          "type": "integer"
                        },
                        "mf_ratio_male": {
                          "example": 0,
                          "type": "integer"
                        },
                        "min_price": {
                          "type": "integer"
                        },
                        "onsite_payment": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "onsite_payment_gratuity": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "onsite_payment_net": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "onsite_payment_tax": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "onsite_payment_total": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "perks": {
                          "example": {},
                          "type": "null"
                        },
                        "phone_number": {
                          "example": "212-555-7056",
                          "type": "string"
                        },
                        "prepayment": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "example": 22,
                          "type": "number"
                        },
                        "prepayment_gratuity": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "example": 2,
                          "type": "number"
                        },
                        "prepayment_net": {
                          "example": 20,
                          "type": "number"
                        },
                        "prepayment_service_charge": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "prepayment_tax": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "type": "number"
                        },
                        "prepayment_total": {
                          "description": "Returned only when a reservation has been made/confirmed",
                          "example": 22,
                          "type": "number"
                        },
                        "real_datetime_of_slot": {
                          "description": "If after midnight for a venue with a 6am “Start of Day” this field would have a date of date+1 compared to the date searched",
                          "example": "2019-04-12 19:00:00",
                          "type": "string"
[...]
